  /*Font */
*{
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

/*Barra de Navegacion*/
li{
    float: left;
    border-right:1px solid #bbb;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}
.barranav{
    width: 100%;
    display: inline-block;
    list-style-type: none;
    background-color: #333;
    margin-top: 20px;
    border-radius: 10px;
}

.active{
    background-color: red;
}
/*Fin barra de navegacion */

/*Logo*/
.logo{
    display: flex;
    justify-content: center;
    width: 170px;
    height: 170px;
    border-radius: 150px;
}
.logo:hover{
    transform: scale(1.2);
    transition-duration: 2s;
}
/*Fin Logo*/

/*Titulo Productos Destacados*/
.grid-container h1{
    display: grid;
    justify-content: center;
    padding: 15px 20px;
    color: white;
    background-color: #333;
    border-radius: 10px;
}
/*Fin Titulo Productos Destacados*/

/*Inicio Carrousel*/

/*Fin Carrousel*/

/*Ofertas Destacadas*/
.ofertas{
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    color: white;
    background-color: #333;
    margin-top: 60px;
    border-radius: 20px;
}
.ofertasdestacadas{
    display: flex; 
    width: 30px;
    object-fit: cover;
}
/*Fin Ofertas Destacadas*/

body{
    background-color: whitesmoke;
}